<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Payment Successful</title>
</head>
<body>
    <main class="successbody">
        <div style="margin:10px">
            <img src="success.png">
        </div>
        <h2 style="margin:10px">Payment Successful</h2>
        <p style="margin:10px">Your car will reach your doorstep within few minutes</p>
        <form class="successbutton" style="margin: 10px;" action="/">
            <button>Return to Dashboard</button>
        </form>
    </main>
</body>
</html>